# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.apt_generated/

# Gradle
build/
.gradle/
.project
.settings/
.classpath

# IDE-specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Operating System files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Logs
*.log
logs/

# Docker-related files
Dockerfile
.dockerignore